[flake8]
count = true
ignore =
    # A003: class attribute "xxx" is shadowing a python builtin
    A003,
    # D100: missing docstring in public module
    D100,
    # D104: missing docstring in public package
    D104
max-complexity = 6
max-line-length = 88

## darglint
strictness = long
docstring-style = google

## flake8-docstrings
docstring-convention = google
