[flake8]
count = true
ignore =
    # D100: Missing docstring in public module
    D100,
    # D104: Missing docstring in public package
    D104,
    # D105: Missing docstring in magic method
    D105,
    # D107: Missing docstring in __init__
    D107
max-complexity = 6
max-expression-complexity = 6
max-line-length = 88
per-file-ignores =
    # F401: `module` imported but unused
    __init__.py: F401
