name: Release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      IS_PRE_RELEASE: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: "Install Poetry"
        run: pip install --user poetry
      - name: "Build Project"
        run: poetry build
      - name: "Check Version for Pre-releases"
        id: check-version
        run: |
          [[ "$(poetry version --short)" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]] || echo "IS_PRE_RELEASE=true" >> $GITHUB_ENV
      - name: "Create Release on GitHub"
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: ${{ env.IS_PRE_RELEASE }}
      - name: "Publish to PyPI"
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: poetry publish
